<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="http://165.232.132.248/q1/">List the disease code and the descriptions that are caused by bacteria
        and were discovered before 1990.</a></li>
    <li><a href="http://165.232.132.248/q2/">List the name, surname and degree of doctors who are not specialized
        in infectious diseases.</a></li>
    <li><a href="http://165.232.132.248/q3/">List the name, surname and degree of doctors who are specialized
        in more than 2 disease types.</a></li>
    <li><a href="http://165.232.132.248/q4/">For each country list the cname and average salary of doctors
        who are specialized in virology.</a></li>
    <li><a href="http://165.232.132.248/q5/">List the departments of public servants who report covid-19
        cases in more than one country and the number of such public servants who work in these departments.</a></li>
    <li><a href="http://165.232.132.248/q6/">Double the salary of public servants who have recorded covid-19
        patients more than 3 times.</a></li>
    <li><a href="http://165.232.132.248/q7/">Delete the users whose surname contain the substring alp.</a></li>
    <li><a href="http://165.232.132.248/q8/">Create an index namely “idx pathogen” on the “pathogen” field.</a></li>
    <li><a href="http://165.232.132.248/q9/">List the email, name, and department of public servants who have
        created records where the number of patients is between 100000 and 999999.</a></li>
    <li><a href="http://165.232.132.248/q10/">List the top 5 counties with the highest number of total patients recorded.</a></li>
    <li><a href="http://165.232.132.248/q11/">Group the diseases by disease type and the total number of patients treated.</a></li>
</ul>
</body>
</html>