<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query 1</title>
</head>
<body>
    <button><a href="http://165.232.132.248/index">Back</a></button><br>
    Query results for query 1:
    <br>
    <table>
        <tr>
            <td>Disease Code</td>
            <td>Disease Type Description</td>
            <td>First Enc Date</td>
        </tr>
      {% for row in data %}
        <tr>
            {%for celldata in row%}
            <td>{{celldata}}</td>
            {%endfor%}
        </tr>
      {% endfor %}
    </table>
</body>
</html>
